/.idea
/node_modules
/
unused
/
/public/css
/public/fonts
/public/img
/public/open-iconic
/public/scss
/public/js/angular.min.js
/public/js/angular-route.min.js
/public/js/bootstrap.min.js
/public/js/highcharts.js
/public/js/jquery-3.2.1.min.js